/* styles.css */
.smaller-search-bar {
    width: 100px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
  }
  /* styles.css (or your preferred CSS file) */
/* .settings-icon {
  font-size: 1.5rem; /* Adjust the font size as needed */
  /* margin-left: 5px; Adjust the margin as needed to control spacing */

